/*
h1 {
  color: red;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  color: rgb(197, 185, 154);
}

.first-title {
  color: blue;
  font-family: "Times New Roman", Times, serif;
}

#youtube-link {
  color: salmon;
  font-size: 30px;
}

.random h1 {
  color: chartreuse;
}

.random li {
  color: rgb(38, 56, 33);
}

.gallery h2 {
  color: pink;
}

.gallery .gall-class {
  color: rgb(27, 194, 27);
  list-style: square;
}

.random .gall-class {
  list-style: none;
}

.red-stuff li:nth-child(3) {
  color: red;
}

h1 {
  color: cornflowerblue;
}

h2 {
  color: darkred;
  font-size: 30px;
}

button {
  padding: 50px 50px 10px 30px;
  background-color: red;
}

div {
  background-color: bisque;
  width: 100%;
  padding: 20px;
  margin-top: 20px;
  border: 5px solid yellow;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  padding: 2rem 4rem;
}

button:hover {
  background:pink;
}

button:focus {  
  background: greenyellow;
}

input:focus {
  background: greenyellow;
}

*/

html {
  font-size: 62.5%;
}
